html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* !!! CSS RESET !!! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  margin: 0;
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#site {
  font-family: 'Rubik';
  background-color: #fff;
  /*background: url('../image/test.png');*/ }
  #site.stopscroll {
    overflow: hidden; }
  #site nav {
    top: 1.5rem;
    left: 1.5rem;
    position: fixed;
    font-size: 2.4rem;
    z-index: 10; }
    #site nav a:link,
    #site nav a:visited {
      letter-spacing: 0.05em;
      color: magenta;
      text-decoration: none;
      text-shadow: 2px 2px 0 #fff; }
    #site nav li {
      /*margin-bottom: 5rem;*/ }
      #site nav li a {
        position: relative;
        padding-left: 0;
        /*transition: font-size ease 0.3s;
        -webkit-transition: font-size ease 0.3s;*/
        z-index: 10; }
        #site nav li a.selected {
          padding-left: 3.1rem;
          z-index: 1000; }
  #site #links {
    position: fixed;
    top: 1.5rem;
    right: 2rem;
    /*max-height: 1.3rem;*/
    /*padding-bottom: 1rem;*/
    overflow: hidden;
    z-index: 5;
    transition: max-height ease 0.3s; }
    #site #links li {
      text-align: center;
      list-style: none;
      padding: 0.25rem 0;
      font-family: 'Space Mono', monospace;
      color: #000;
      /*text-transform: uppercase;*/ }
    #site #links a:link,
    #site #links a:visited {
      color: #000;
      padding-bottom: 0.2rem;
      font-size: 1.3rem;
      text-decoration: none;
      text-transform: uppercase; }
  #site #bottom_bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000;
    height: 1.3rem; }
  #site footer img {
    position: fixed;
    bottom: 3rem;
    right: 2rem; }
  #site section {
    background-color: #fff;
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-bottom: 3px dashed #000;
    text-align: center; }
    #site section img {
      margin: 1.5rem;
      display: inline-block;
      vertical-align: middle;
      width: 12rem;
      height: auto;
      /*margin: 2rem auto 0 auto;*/
      border: 3px solid #000; }
      #site section img:hover {
        cursor: zoom-in; }
    #site section p {
      text-align: center;
      display: block;
      margin: 0 auto 4rem auto;
      font-family: 'Space Mono', monospace;
      background-color: #000;
      color: white;
      width: 60%;
      line-height: 1.3em; }
  #site .image_modal_box {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    display: none;
    background-color: #fff; }
  #site #slide_position {
    position: absolute;
    color: magenta;
    font-size: 2.5rem;
    left: 1.5rem;
    top: 1.5rem; }
  #site #close,
  #site #left,
  #site #right {
    position: absolute;
    z-index: 3000; }
    #site #close:hover,
    #site #left:hover,
    #site #right:hover {
      cursor: pointer; }
  #site #close {
    top: 1rem;
    right: 2rem; }
  #site #left,
  #site #right {
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%); }
  #site #left {
    left: 2rem; }
  #site #right {
    right: 2rem; }
  #site .image_modal_container {
    position: fixed;
    z-index: 30;
    top: 2rem;
    left: 2rem;
    right: 2rem;
    bottom: 3rem;
    display: none;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important; }
  #site .image_caption {
    text-transform: uppercase;
    position: fixed;
    display: none;
    z-index: 30;
    bottom: 0;
    width: 100%;
    color: #000;
    padding: 0.2rem 0;
    font-family: 'Space Mono', monospace;
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.4em; }
  #site #current {
    padding-right: 0.1em; }

/*# sourceMappingURL=main.css.map */
