/*
Error: Invalid CSS after "...edia (min-width": expected comma, was ": 1800px) {"
        on line 75 of css/home.scss
        from line 4 of css/main.scss

70:   }
71: }
72: 
73: html{
74:   font-size: 16px;
75:   @include media (min-width: 1800px) {
76:     font-size: 30px;
77:   }
78:   @include media (min-width: 1530px) {
79:     font-size: 25px;
80:   }

Backtrace:
css/home.scss:75
css/main.scss:4
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/scss/parser.rb:1189:in `expected'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/script/lexer.rb:229:in `expected!'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/script/parser.rb:590:in `block in arglist'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/script/parser.rb:587:in `loop'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/script/parser.rb:587:in `arglist'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/script/parser.rb:576:in `mixin_arglist'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/script/parser.rb:120:in `parse_mixin_include_arglist'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/scss/parser.rb:1051:in `sass_script'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/scss/parser.rb:239:in `include_directive'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/scss/parser.rb:222:in `special_directive'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/scss/parser.rb:197:in `directive'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/scss/parser.rb:676:in `block_child'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/scss/parser.rb:668:in `block_contents'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/scss/parser.rb:657:in `block'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/scss/parser.rb:649:in `ruleset'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/scss/parser.rb:675:in `block_child'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/scss/parser.rb:668:in `block_contents'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/scss/parser.rb:125:in `stylesheet'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/scss/parser.rb:41:in `parse'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/engine.rb:406:in `_to_tree'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/engine.rb:312:in `to_tree'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:326:in `block in visit_import'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/stack.rb:88:in `block in with_import'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/stack.rb:88:in `with_import'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:159:in `visit'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:331:in `block in watch'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/listen-2.8.5/lib/listen/listener.rb:282:in `_process_changes'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/listen-2.8.5/lib/listen/listener.rb:246:in `block in _wait_for_changes'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/listen-2.8.5/lib/listen/listener.rb:229:in `loop'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/listen-2.8.5/lib/listen/listener.rb:229:in `_wait_for_changes'
/Users/rahulshinde/.rvm/gems/ruby-2.0.0-p598/gems/listen-2.8.5/lib/listen/listener.rb:318:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...edia (min-width\": expected comma, was \": 1800px) {\"\A         on line 75 of css/home.scss\A         from line 4 of css/main.scss\A \A 70:   }\A 71: }\A 72: \A 73: html{\A 74:   font-size: 16px;\A 75:   @include media (min-width: 1800px) {\A 76:     font-size: 30px;\A 77:   }\A 78:   @include media (min-width: 1530px) {\A 79:     font-size: 25px;\A 80:   }"; }
